body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.project-header{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/proj-orphans.jpg) no-repeat center;
  height: 335px;
  margin-top: -2%;

}

.MyProjects-header{
  /*height: 250px;*/
}

.manage-applicants{
  height: 500px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #f00;
    border-radius: 0px;
    border: none;
}

.project-info {
  border-top: 12px solid #ff6433;
  padding-bottom: 2%;
}

.nav-tabs {
    border-bottom: none;
}
.navbar-nav {
    float: none;
    /*display: inline-block;*/
    /*width: 100%;*/
}

#green{
  display: block;
}

#red{
  display: block;
  color: red;

}

#logo {
    border-radius: 50%;
    position: absolute;
    right: 64%;
    width: 10%;
    margin-top: 9%;
}

.projHeader{
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: left;
    color: white;
}

h1{
  text-transform: capitalize;
  font-family: 'Oswald', serif;
}

h2, h4{
  font-family: 'Playfair Display', serif;
}
h3 {
  font-weight: lighter;
}
.websiteBut{
    font-family: inherit;
    font-size: inherit;
    width: 33%;
    line-height: inherit;
    background-color: transparent;
    border-radius: 8%;
}

.nav-tabs {
    margin-bottom: -2px;
}

.navbar-default {
    background-color: #2a2121;
    border: none;
    border-radius: 0px;
    height: 160px;
    margin-bottom: auto;
}

#main-nav a{
  color: white;
}
.nav-tabs {
    font-family: 'Oswald';
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
  }
  a {
    color: black;
    text-decoration: none;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 2.1;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 33.3%;
}

.navbar-inverse  {
    background-color: #000;
    border-color: #080808;
    border-radius: 0px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: black;
    border: none;
}

.thumbnail>img {
    width: 20%;
    margin-right: auto;
    margin-left: 0;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
    position: absolute;
    top: 6%;
    left: 33%;
}
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ec9d9d;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #36BB30;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #0AB111;
    opacity: 1;
    pointer-events: none;
    cursor: not-allowed;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 1px;
    width: 4px;
    height: 13px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #FFFFFF;
}
